pywebview>=5.0
flask>=3.0
flask-cors>=4.0
requests>=2.31
pystray>=0.19
Pillow>=10.0
trafilatura>=1.9
websocket-client
beautifulsoup4

Flask==3.0.0
Flask-CORS==4.0.0
volcengine-python-sdk==1.0.96
volcenginesdkarkruntime
openai
python-docx
pypdf
python-pptx
flask-sock

dnspython



